@import "_variables";

// ----------------------------------
// ----------- TOP BAR --------------
// ----------------------------------

.menu-top{
  width: 100%;
  height:60px;
  background: $color-primary;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position:relative;
  transition:all 0.5s;
}

.menu-logo{
  width:300px;
  height:60px;
  position: relative;
}

.logo {
  position:absolute;
  left:0px;
  top:-1px;
  p {
    position:absolute;
    color:$color-text;
    font-family:'Lobster', cursive;
    user-select:none;
    top:17px;
    left:60px;
    width:auto;
    white-space: nowrap;
    letter-spacing: 0.4rem;
  }
}

.menu-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  
  li a{
    font-family:'Roboto', sans-serif;
    font-size:1.5rem;
    color:$color-text;
    text-decoration:none;
    margin:0 25px;
    transition:all 0.2s;
  }
  a:hover {
    color:#FFFF;
    
  }
}


@media screen and (max-width:875px) {
  .menu-nav ul li a{
    margin:0 15px;
  }
}

@media screen and (max-width:805px) {
  .menu-nav ul li a{
    margin:0 10px;
    font-size:1.2rem;
  }
}

@media screen and (max-width:690px) {
  .menu-nav ul li a{
    margin:0 10px;
    font-size:1rem;
  }
}

@media screen and (max-width:635px) {
 
  .menu-top{
    flex-direction:column;
    height:80px;
  }
}

@media screen and (max-width:380px) {
  .menu-nav ul li a{
    margin:0 10px;
    font-size:0.9rem;
  }
}
//--------------------------------------
