@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Noto+Sans+JP:wght@400;500&family=Roboto:wght@500;700&display=swap");
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  padding: 10px 25px;
  position: relative;
  color: #000000;
}

h2::before {
  content: '';
  position: absolute;
  width: 130px;
  height: 5px;
  bottom: 3px;
  left: -5px;
  background: #7F00A3;
}

p {
  font-family: 'Noto Sans JP', sans-serif;
  color: #67A300;
}

img {
  -webkit-box-shadow: 4px 9px 24px 3px rgba(0, 0, 0, 0.25);
          box-shadow: 4px 9px 24px 3px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.menu-top {
  width: 100%;
  height: 60px;
  background: #67A300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-logo {
  width: 300px;
  height: 60px;
  position: relative;
}

.logo {
  position: absolute;
  left: 0px;
  top: -1px;
}

.logo p {
  position: absolute;
  color: #000000;
  font-family: 'Lobster', cursive;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: 17px;
  left: 60px;
  width: auto;
  white-space: nowrap;
  letter-spacing: 0.4rem;
}

.menu-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.menu-nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  color: #000000;
  text-decoration: none;
  margin: 0 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-nav ul a:hover {
  color: #FFFF;
}

@media screen and (max-width: 875px) {
  .menu-nav ul li a {
    margin: 0 15px;
  }
}

@media screen and (max-width: 805px) {
  .menu-nav ul li a {
    margin: 0 10px;
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 690px) {
  .menu-nav ul li a {
    margin: 0 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 635px) {
  .menu-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 80px;
  }
}

@media screen and (max-width: 380px) {
  .menu-nav ul li a {
    margin: 0 10px;
    font-size: 0.9rem;
  }
}

.menu-box {
  width: 100%;
  height: 458px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu-box-purple {
  width: 72px;
  height: 380px;
  background: #67A300;
  position: absolute;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.menu-box-purplelight {
  width: 300px;
  height: 165px;
  background: #7F00A3;
  -webkit-box-shadow: inset 0px -44px 65px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px -44px 65px rgba(0, 0, 0, 0.25);
  position: absolute;
  right: 0px;
  top: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.menu-title {
  width: 95%;
  height: 400px;
  background: -webkit-gradient(linear, left top, right top, from(#187F00A3), to(rgba(26, 26, 26, 0.62))), url("../img/header.jpg") center/cover no-repeat;
  background: linear-gradient(90deg, #187F00A3 0%, rgba(26, 26, 26, 0.62) 100%), url("../img/header.jpg") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  position: relative;
  z-index: 10;
}

.menu-title .menu-title-top {
  margin-left: 86px;
  margin-top: 90px;
  font-size: 3.75rem;
  color: #000000;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-title .menu-title-middle {
  margin-left: 90px;
  font-size: 3.125rem;
  color: #000000;
  margin-top: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.menu-btn {
  width: 70%;
  margin-top: 45px;
  margin-left: 90px;
}

.menu-btn a {
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
  background: #7F00A3;
  color: #FFFF;
  border-radius: 5px;
  border: none;
  border: 1px solid transparent;
  margin-left: 35px;
  padding: 10px 15px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn a:hover {
  outline: none;
  border: 1px solid #000000;
  -webkit-box-shadow: inset 0px -44px 65px rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px -44px 65px rgba(0, 0, 0, 0.25);
  -webkit-transform: translate(-1px, -1px);
          transform: translate(-1px, -1px);
}

@media screen and (max-width: 827px) {
  .menu-box-purplelight {
    top: 280px;
  }
  .menu-title {
    background: -webkit-gradient(linear, left top, right top, from(#187F00A3), to(rgba(26, 26, 26, 0.62))), url("../img/header.jpg") center/cover no-repeat;
    background: linear-gradient(90deg, #187F00A3 0%, rgba(26, 26, 26, 0.62) 100%), url("../img/header.jpg") center/cover no-repeat;
  }
}

@media screen and (max-width: 710px) {
  .menu-box {
    height: 428px;
  }
  .menu-title .menu-title-top {
    margin-left: 74px;
    margin-top: 70px;
    font-size: 2.75rem;
    white-space: nowrap;
  }
  .menu-title .menu-title-middle {
    margin-left: 76px;
    font-size: 2.125rem;
    margin-top: 12px;
    white-space: nowrap;
  }
  .menu-title .menu-btn {
    width: 70%;
    margin-top: 45px;
    margin-left: 90px;
  }
  .menu-box-purplelight {
    top: 250px;
  }
}

@media screen and (max-width: 550px) {
  .menu-box {
    height: 428px;
  }
  .menu-title .menu-title-top {
    margin: 25px auto;
    font-size: 2.1rem;
    white-space: nowrap;
  }
  .menu-title .menu-title-middle {
    margin: 25px auto;
    font-size: 1.8em;
    white-space: nowrap;
  }
  .menu-title .menu-btn {
    width: 100%;
    margin-top: 25px;
    margin-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-title .menu-btn .btn {
    margin: 25px;
  }
}

@media screen and (max-width: 370px) {
  .menu-box {
    height: 428px;
  }
  .menu-title .menu-title-top {
    font-size: 2.1rem;
    white-space: nowrap;
  }
  .menu-title .menu-title-middle {
    font-size: 1.8em;
    white-space: nowrap;
  }
  .menu-btn .btn {
    margin: 0;
    font-size: 0.8rem;
  }
}

.decouvrir-container {
  width: 100%;
  height: 506px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 500;
  overflow: hidden;
  opacity: 1;
}

.decouvrir-decouvrir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
  color: #000000;
}

.decouvrir-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 600px;
  margin-left: 60px;
  padding-right: 5px;
  z-index: 2;
}

.decouvrir-text p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 25px;
  height: 300px;
  text-align: justify;
  padding-top: 15px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #000000;
}

.decouvrir-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 720px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.decouvrir-images .decouvrir-img1 img {
  margin: 0 auto;
}

.decouvrir-images .decouvrir-img2 {
  padding: 0 40px;
}

.decouvrir-images .decouvrir-img2 img {
  margin: 0 auto;
}

.decouvrir-equipe {
  width: 800px;
  height: 120px;
  font-family: 'Noto Sans JP', sans-serif;
  background: #67A300;
  color: #000000;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 25px;
  font-size: 1.68rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: translate(100px, -40px);
          transform: translate(100px, -40px);
}

.decouvrir-equipe h3 {
  font-size: 1.1em;
  font-weight: 300;
}

.decouvrir-equipe p {
  color: #000000;
  font-size: 0.6em;
  padding-top: 5px;
  padding-bottom: 5px;
}

.decouvrir-polygon {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

@media screen and (max-width: 1320px) {
  .decouvrir-img1 img {
    width: 100%;
  }
  .decouvrir-img2 img {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .decouvrir-img1 {
    display: none;
  }
  .decouvrir-equipe {
    -webkit-transform: translate(80px, -30px);
            transform: translate(80px, -30px);
  }
  .decouvrir-text {
    width: 700px;
  }
}

@media screen and (max-width: 980px) {
  .decouvrir-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .decouvrir-images {
    position: absolute;
    left: 480px;
    top: 260px;
    width: 100%;
  }
  .decouvrir-equipe {
    width: 450px;
    height: 140px;
    -webkit-transform: translate(50px, -100px);
            transform: translate(50px, -100px);
  }
}

@media screen and (max-width: 930px) {
  .decouvrir-images {
    display: none;
  }
}

@media screen and (max-width: 740px) {
  .decouvrir-images {
    display: none;
  }
  .decouvrir-equipe {
    -webkit-transform: translate(120px, -80px);
            transform: translate(120px, -80px);
  }
}

@media screen and (max-width: 710px) {
  .decouvrir-text {
    margin: 0 30px;
    padding-right: 5px;
  }
  .decouvrir-text h2 {
    font-size: 2.5rem;
  }
  .decouvrir-text p {
    margin: 0 25px;
    padding-top: 15px;
    font-size: 1.1rem;
  }
  .decouvrir-equipe {
    -webkit-transform: translate(40px, -80px);
            transform: translate(40px, -80px);
    width: 450px;
  }
  .decouvrir-equipe h3 {
    font-size: 1.6rem;
  }
  .decouvrir-equipe p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .decouvrir-text h2 {
    font-size: 2.5rem;
  }
  .decouvrir-text p {
    font-size: 1rem;
    line-height: 23px;
  }
  .decouvrir-equipe {
    -webkit-transform: translate(40px, -80px);
            transform: translate(40px, -80px);
    width: 390px;
  }
  .decouvrir-equipe h3 {
    font-size: 1.3rem;
  }
  .decouvrir-equipe p {
    font-size: 0.9rem;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 560px) {
  .decouvrir-text h2 {
    font-size: 2rem;
  }
  .decouvrir-text p {
    font-size: 1rem;
    line-height: 23px;
  }
}

@media screen and (max-width: 460px) {
  .decouvrir-text h2 {
    font-size: 1.65rem;
  }
  .decouvrir-text p {
    margin: 0 5px;
    font-size: 1rem;
    line-height: 23px;
  }
  .decouvrir-equipe {
    -webkit-transform: translate(35px, -40px);
            transform: translate(35px, -40px);
    width: 300px;
  }
  .decouvrir-equipe h3 {
    font-size: 1.1rem;
  }
  .decouvrir-equipe p {
    font-size: 0.8rem;
    line-height: 20px;
    letter-spacing: 0.5px;
  }
}

@media screen and (max-width: 395px) {
  .decouvrir-text p {
    margin: 0 5px;
    font-size: 0.9rem;
    line-height: 23px;
  }
}

@media screen and (max-width: 360px) {
  .decouvrir-text p {
    margin: 0 5px;
    font-size: 0.9rem;
    line-height: 23px;
  }
  .decouvrir-equipe {
    -webkit-transform: translate(15px, -30px);
            transform: translate(15px, -30px);
    width: 280px;
  }
}

.serv-container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 500;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.serv-polygon {
  position: absolute;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
}

.serv-services {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.serv-services .serv-activites {
  width: 60%;
  display: -ms-grid;
  display: grid;
  grid-template: "1 2" "3 4";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 20px 20px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
}

.serv-services img {
  width: 80%;
  height: auto;
}

.serv-description {
  width: 500px;
  margin-right: 30px;
  margin-left: 30px;
  padding-bottom: 35px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #67A300;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.serv-description h2 {
  margin-left: 25px;
  margin-top: 35px;
  color: #000000;
  font-weight: 400;
}

.serv-description p {
  color: #000000;
  margin-left: 50px;
  padding: 15px 15px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 3rem;
}

.serv-activites-1 {
  position: relative;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.serv-chantier-zoom-1 svg {
  display: none;
}

.serv-activites-1:hover {
  cursor: pointer;
}

.serv-activites-1:hover img {
  -webkit-animation: opacityImg .6s ease forwards;
          animation: opacityImg .6s ease forwards;
}

.serv-activites-2 {
  position: relative;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.serv-chantier-zoom-2 svg {
  display: none;
}

.serv-activites-2:hover {
  cursor: pointer;
}

.serv-activites-2:hover img {
  -webkit-animation: opacityImg .6s ease forwards;
          animation: opacityImg .6s ease forwards;
}

.serv-activites-3 {
  position: relative;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.serv-chantier-zoom-3 svg {
  display: none;
}

.serv-activites-3:hover {
  cursor: pointer;
}

.serv-activites-3:hover img {
  -webkit-animation: opacityImg .6s ease forwards;
          animation: opacityImg .6s ease forwards;
}

.serv-activites-4 {
  position: relative;
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.serv-chantier-zoom-4 svg {
  display: none;
}

.serv-activites-4:hover {
  cursor: pointer;
}

.serv-activites-4:hover img {
  -webkit-animation: opacityImg .6s ease forwards;
          animation: opacityImg .6s ease forwards;
}

@-webkit-keyframes opacityImg {
  100% {
    opacity: 0.6;
  }
}

@keyframes opacityImg {
  100% {
    opacity: 0.6;
  }
}

.active {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100vw;
  z-index: 5000;
}

.slider-portfolio {
  width: 80%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: linear-gradient(45deg, #181D31, #000);
  overflow-y: hidden;
  display: none;
}

.img-visible-slider {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 900;
}

.btn-fermer-slider {
  position: absolute;
  top: 3%;
  right: 2%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  outline: none;
  border: none;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  z-index: 950;
}

.btn-fermer-slider:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .btn-fermer-slider {
    width: 50px;
    height: 50px;
    font-size: 25px;
  }
  .img-visible-slider {
    width: 95%;
    height: 500px;
  }
}

.serv-temoignages {
  width: 100%;
  height: auto;
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 1;
}

.serv-temoignages-title {
  margin: 0 35px;
}

.liste-temoignages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 25px 25px;
  height: auto;
  text-align: justify;
}

.liste-temoignages .temoignage {
  width: 350px;
  height: auto;
  padding: 10px 10px;
}

.liste-temoignages .temoignage span {
  color: #7F00A3;
}

.liste-temoignages .temoignage p {
  margin-bottom: 10px;
  color: #000000;
}

.liste-temoignages .temoignage .name {
  color: #000000;
}

.liste-temoignages .temoignage .name::before {
  content: '';
  display: inline-block;
  width: 50px;
  height: 5px;
  background: #7F00A3;
  vertical-align: middle;
  text-align: center;
  margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
  .serv-services .serv-activites {
    width: 550px;
    display: -ms-grid;
    display: grid;
    grid-template: "1" "2" "3"  "4";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 20px 20px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .serv-activites-i {
    grid-area: i;
    width: 60%;
    padding: 20px 20px;
  }
  .serv-activites-i {
    grid-area: i;
    width: 60%;
    padding: 20px 20px;
  }
  .serv-activites-i {
    grid-area: i;
    width: 60%;
    padding: 20px 20px;
  }
  .serv-activites-i {
    grid-area: i;
    width: 60%;
    padding: 20px 20px;
  }
  img {
    width: 60%;
    height: auto;
  }
}

@media only screen and (max-width: 860px) {
  .serv-services {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .serv-services .serv-activites {
    width: 60%;
    display: -ms-grid;
    display: grid;
    grid-template: "1 2" "3 4";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 20px 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .serv-services .serv-activites-i {
    grid-area: i;
    width: 100%;
    padding: 20px 20px;
  }
  .serv-services .serv-activites-i {
    grid-area: i;
    width: 100%;
    padding: 20px 20px;
  }
  .serv-services .serv-activites-i {
    grid-area: i;
    width: 100%;
    padding: 20px 20px;
  }
  .serv-services .serv-activites-i {
    grid-area: i;
    width: 100%;
    padding: 20px 20px;
  }
  .serv-services img {
    width: 90%;
    height: auto;
  }
  .serv-description {
    margin-right: 35px;
    margin-left: 35px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .liste-temoignages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .liste-temoignages .temoignage {
    width: 530px;
  }
}

@media only screen and (max-width: 560px) {
  .serv-services .serv-description h2 {
    font-size: 2rem;
  }
  .serv-services .serv-description p {
    font-size: 1rem;
    line-height: 2rem;
  }
  .serv-services .serv-activites {
    width: 320px;
  }
  .serv-temoignages {
    margin-top: 0px;
  }
  .serv-temoignages-title h2 {
    font-size: 2rem;
  }
  .liste-temoignages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .liste-temoignages .temoignage {
    width: 400px;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 460px) {
  .serv-services .serv-description h2 {
    margin-top: 20px;
    font-size: 1.65rem;
  }
  .serv-services .serv-description p {
    margin-left: 25px;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .serv-temoignages {
    margin-top: 0px;
  }
  .serv-temoignages-title h2 {
    font-size: 1.65rem;
  }
  .liste-temoignages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .liste-temoignages .temoignage {
    width: 280px;
    font-size: 0.9rem;
  }
}

.infra-container {
  width: 97%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #67A300;
  margin: 20px 0px;
  margin-left: 15px;
  opacity: 1;
}

.infra-container .infra-title {
  width: 45%;
}

.infra-container .infra-title h2 {
  margin-left: 35px;
  margin-top: 15px;
  color: #000000;
  font-weight: 400;
}

.infra-container .infra-text {
  width: 55%;
  height: auto;
}

.infra-container .infra-text p {
  padding: 20px 50px 20px 20px;
  color: #000000;
  text-align: justify;
  font-size: 1.2rem;
  line-height: 2.5rem;
}

@media only screen and (max-width: 930px) {
  .infra-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infra-container .infra-title {
    width: 100%;
  }
  .infra-container .infra-title h2 {
    margin-left: 35px;
    margin-top: 15px;
    color: #000000;
    font-weight: 400;
    font-size: 2.5rem;
  }
  .infra-container .infra-text {
    width: 100%;
    height: auto;
  }
  .infra-container .infra-text p {
    padding: 20px 40px;
    color: #000000;
    text-align: justify;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 560px) {
  .infra-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infra-container .infra-title {
    width: 100%;
  }
  .infra-container .infra-title h2 {
    font-size: 2rem;
  }
  .infra-container .infra-text p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

@media only screen and (max-width: 460px) {
  .infra-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .infra-container .infra-title {
    width: 100%;
  }
  .infra-container .infra-title h2 {
    font-size: 1.65rem;
  }
  .infra-container .infra-text p {
    font-size: 0.9rem;
    line-height: 2rem;
  }
}

.contact-container {
  position: relative;
  width: 100%;
  padding: 2rem;
  overflow: hidden;
  /*comment gérer le dépassement du contenu d'un élément dans son bloc*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*Gestion du positionnement*/
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Positionnement verticale*/
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /*positionnement horizontal*/
  opacity: 1;
}

.contact-polygon {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: -1;
  -webkit-transform: scale(2);
          transform: scale(2);
  overflow: hidden;
}

.form {
  width: 100%;
  max-width: 1440px;
  z-index: 3;
  /*Définit l'ordre des boite visuel : sera au dessus des autres*/
  overflow: hidden;
  /*comment gérer le dépassement du contenu d'un élément dans son bloc*/
  display: -ms-grid;
  display: grid;
  /* Gestion du positionnement par grille*/
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-info {
  padding: 2.3rem 2.2rem;
  /*position*/
  position: relative;
}

.contact-info .text {
  color: #000000;
  margin: 1.5rem 0 2rem 0;
  text-align: justify;
}

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  margin: 0.7rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.95rem;
}

.information p {
  color: #000000;
  margin-left: 25px;
}

.information .icon {
  width: 28px;
  margin-right: 0.7rem;
}

.circle {
  border-radius: 50%;
  background: linear-gradient(135deg, transparent 20%, #aa0ac7);
  position: absolute;
}

.circle.one {
  width: 130px;
  height: 130px;
  top: 130px;
  right: -40px;
}

.circle.two {
  width: 80px;
  height: 80px;
  top: 10px;
  right: 40px;
}

.contact-form {
  background-color: #7F00A3;
  -webkit-box-shadow: inset -20px -25px 25px rgba(0, 0, 0, 0.25);
          box-shadow: inset -20px -25px 25px rgba(0, 0, 0, 0.25);
  position: relative;
}

.contact-form:before {
  /* ::before élément juste après contact-form (petit rectange orienté 45deg*/
  content: "";
  position: absolute;
  left: -13px;
  top: 50px;
  width: 25px;
  height: 25px;
  background-color: #7F00A3;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  /* Rotation de 45 degré*/
}

form {
  padding: 2.3rem 2rem;
  /*padding sur la hauteur et la gauche*/
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.input-container {
  position: relative;
  margin: 1rem 0;
}

.input {
  width: 100%;
  outline: none;
  /*bordure et contour*/
  border: 3px solid #fff;
  background: none;
  padding: 0.6rem 1.2rem;
  color: #fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 1px;
  /*Espacement écriture*/
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: 'Noto Sans JP', sans-serif;
}

textarea.input {
  padding: 0.8rem 1.2rem;
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 150px;
  border-radius: 22px;
  resize: none;
  /*On supprime la resize en bas à droite de l'aréa*/
  overflow-y: auto;
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0 0.4rem;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 400;
  pointer-events: none;
  /*enlève le curseur*/
  z-index: 3;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.input-container.textarea label {
  top: 1rem;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.input-container span {
  position: absolute;
  top: 0;
  left: 25px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 0.8rem;
  padding: 0 0.4rem;
  color: transparent;
  pointer-events: none;
  z-index: 2;
  background-color: #7F00A3;
}

.input-container span::before,
.input-container span::after {
  content: "";
  position: absolute;
  width: 10%;
  opacity: 0;
  /*Non Visible*/
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 5px;
  background-color: #7F00A3;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.input-container span::before {
  left: 50%;
}

.input-container span::after {
  right: 50%;
}

.input-container.focus label {
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 25px;
  font-size: 0.8rem;
}

.input-container.focus span::before,
.input-container.focus span::after {
  width: 50%;
  opacity: 1;
  /*Visible*/
}

.btn {
  padding: 0.6rem 1.3rem;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #7F00A3;
  border: 2px solid #fff;
  font-size: 0.95rem;
  color: #fff;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  /*type de pointeur*/
}

.btn:hover {
  background-color: transparent;
  color: #000000;
  margin: 0;
}

.alert {
  text-align: center;
  padding: 5px 0px;
  color: #fff;
}

.alert-success {
  background-color: rgba(102, 180, 119, 0.5);
}

.alert-danger {
  background-color: rgba(206, 45, 45, 0.5);
}

@media (max-width: 850px) {
  .contact-container,
  .contact-info {
    padding-top: 10px;
  }
  .form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact-info:before {
    bottom: initial;
    top: -75px;
    right: 65px;
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  .contact-form:before {
    /* ::before élément juste après contact-form (petit rectange orienté 45deg*/
    top: -12px;
    left: initial;
    right: 70px;
  }
  .text {
    margin: 1rem 0 1.5rem 0;
  }
}

@media (max-width: 560px) {
  .contact-info h2 {
    font-size: 2rem;
  }
  .contact-info .text {
    font-size: 1rem;
  }
}

@media (max-width: 460px) {
  .contact-container {
    padding: 10px;
  }
  .contact-info:before {
    display: none;
  }
  .contact-info {
    padding: 10px 25px 25px 20px;
  }
  .contact-info h2 {
    font-size: 1.65rem;
  }
  .contact-info .text {
    font-size: 0.9rem;
  }
  .information p {
    font-size: 1rem;
  }
  form {
    padding: 25px 25px;
  }
}
/*# sourceMappingURL=style.css.map */